@model _2aProvaEsame.Models.DatiAnagrafici

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>DatiAnagrafici</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cognome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecapitoTelefonico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecapitoTelefonico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndirizzoCompleto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndirizzoCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlagCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlagCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlagInterno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlagInterno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlagFornitore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlagFornitore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodiceAnagrafica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodiceAnagrafica)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DatiAnagraficiId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
